.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.Ruserdata
/*.Rcheck/
.Rproj.user/
/renv/

*.DS_Store

_extensions
/.quarto/
/.luarc.json
/*_files
*_cache/
/cache/
/_freeze

_environment
/.micromamba/

_site/
logo_notext_white.png
logo_text_white.pdf
/.quarto/
_extensions/

published-202407-legrand-wildfires.pdf
published-202306-legrand-wildfires.html
